.title {
  text-align: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr min(50ch, 100%) 1fr;
}

.wrapper > * {
  grid-column: 2;
}

.form_wrapper {
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
  border : 2px solid #e4c2c9;
  margin-top: 10%;
}

.form {
  display: grid;
  grid-template-rows: repeat(5, 3fr);
  width: 300px;
  
}

.rowone, .rowtwo, .rowthree, .rowfour, .submit_button {
  display: flex;
  justify-content: center;
  margin: 2% 0 2% 0;

}

.input {
  line-height: 2;
  border: 1px solid grey;
  width: 100%;
}

.input:focus {
  outline-color: #FE6B8B; 
}

.input_button {
  width: 100%;
  border:1px solid black;
  background-color: white;
}

.input_button:hover {
  color: black;
  background-color: orange;
  border: 1px solid white;
  cursor: pointer;
}

.input_button:focus {
  border: orange;
}

.new_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new_user_prompt {
  text-align: center;
}

.create_acct_button {
  background-color: white;
  border: 1px solid black; 
  line-height: 2;
  cursor: pointer;
}

.create_acct_button:hover {
  background-color: orange;
  border: none;
}